<div class="course__whole">
    <!-- <div class="courseList__sidenav" id="courseFilter" :class="{ on: mobile_status == 'drop' }"> -->
    <div class="courseList__sidenav" id="courseFilter">
        <div class="courseList__sidenav__deptChoose">
            <div class="block_title">
                <p class="text_18">開課單位</p>
            </div>
            <div class="quick_search_area" style="z-index: 300">
                <input
                    class="quick_search_input"
                    id="dpmtFilter"
                    type="text"
                    (compositionend)="searchDept($event.target.value)"
                    (keydown)="keyEventHandler($event)"
                    placeholder="選擇「開課單位」"
                    autocomplete="off"
                />
                <button class="quick_search_delete" (click)="deleteSearch()"></button>
                <div class="quick_search_dropdown--course" *ngIf="keyword.replace(' ', '') !== ''">
                    <p class="quick_search_dropdown--course__no_result text_dark" *ngIf="!deptSearchResult.length">查無此關鍵字結果。</p>
                    <div class="search_result--course" *ngFor="let candidate of deptSearchResult">
                        <div (click)="clickSearchResult(candidate.DepPrefix, candidate.DepName)">
                            <p>{{ candidate.DepPrefix }} {{ candidate.DepName }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="courseList__sidenav__courseType" id="courseArrange">
            <div class="block_title">
                <p class="text_18 desktop_only">檢視選項</p>
                <p class="text_16 mobile_only">檢視</p>
            </div>
            <div class="quick_search_area">
                <label class="quick_search_custom"> <input id="commentCheck" type="checkbox" (click)="commentFilter()" /><span class="checkmark"></span><span>僅顯示有心得之課程</span> </label>
            </div>
        </div>

        <app-wish-list></app-wish-list>
    </div>
    <!-- <div class="flex-container dark_screen mobile_only" id="courseDarkScreen" v-if="mobile_status == 'drop'"></div> -->
    <div class="flex-container courseList__sideList">
        <div class="card courseList__sideList__itemBox" id="courseList">
            <div id="course_item">
                <div class="list_course_item blank_for_mobile mobile_only"></div>
                <p class="list_course_item__no_result" *ngIf="!displayCourseList.length">查無課程資訊。</p>
                <div class="list_course_item" (click)="openCoursePage(course['id'])" *ngFor="let course of displayCourseList">
                    <div class="list_course_item_left">
                        <p class="list_course_item_category text_white text_20" [ngClass]="course.deptId">
                            {{ deptTransCat(course.deptId, course.deptName) }}
                        </p>
                    </div>
                    <div class="list_course_item_mid">
                        <p class="list_course_item_title text_16">{{ course.deptId }}-{{ course.courseIndex }} {{ course.courseName }}</p>
                        <p class="list_course_item_description text_14 text_dark">
                            {{ course.deptId }} — {{ course.teacher }}
                            —
                            {{ course.time }}
                        </p>
                    </div>
                    <div class="list_course_item_right large_right">
                        <div class="list_course_item_right--courseList">
                            <img src="../../../../../assets/images/course/comment_num.svg" />
                            <p class="text_14 text_dark" style="margin-right: 15px">{{ course['commentNum'] }}</p>
                        </div>
                        <div class="large_right--circle" (click)="$event.stopPropagation(); setWish(course.id)">
                            <div class="circle--img" [hidden]="this.isInWishList(course.id)">
                                <img src="../../../../../assets/images/course/heart.svg" />
                            </div>
                            <div class="circle--img" [hidden]="!this.isInWishList(course.id)">
                                <img src="../../../../../assets/images/course/heart_red.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course_data_end" style="height: 1px"></div>
            </div>
        </div>
    </div>
</div>

<!-- 主頁右下角的按鈕 -->
<!-- <div *ngIf="page_status.now_tab != 'register'" id="fixed_button_table" class="fixed_button_area" [ngClass]="{ locked: page_status.table_locked }">
    <div class="major_button" [ngClass]="{ deep_blue_edit: page_status.now_tab == 'table' && page_status.table_locked, red_done: page_status.now_tab == 'table' && !page_status.table_locked, red_add: page_status.now_tab != 'table'}" (click)="majorBtnClicked"></div>
    <div *ngIf="page_status.now_tab == 'table'" class="minor_button dark_cancel" (click)="minorBtnClicked"></div>
</div> -->
<div id="fixed_button_table" class="fixed_button_area">
    <div class="major_button red_add" (click)="addCourseComment()"></div>
</div>
